body{
        margin:  0;
        padding:  0;
}
a{
        color: black;
        text-decoration: none;
}
.topimp  {
        position:  relative;
        width:100%;
        /*  border-bottom:1px  solid  #dadada;  */
        border-bottom:1px  solid  #e5e5e5;  
        z-index:10000;
}
.topimp  .inner{
        width:  1200px;
        height:  39px;
        margin:  0  auto;
}
.loginlist{
        padding:  6px;
        float:  right;
}
.loginlist  nav  .login{
        list-style:none;
        margin:0;
        padding:0;
}
.loginlist  nav  .login  li{
        border-left:1px  solid  #999;
        display:  inline;
        font-size:  12px;
        letter-spacing:  -1px;
        padding:  0  10px  0  15px;
}
.loginlist  nav  .login  li:first-child{
        border-left:0px
}
.loginlist  a{
        color:  #666;
        text-decoration:  none;
        font-family:  Maplestory  OTF;
}
.loginlist  a:hover{
        color:red;
        text-decoration:  underline;
}
.topdiv{
        position:  relative;
        background:  #fff;
        z-index:  40;
        display:  block;
        border-bottom:1px  solid  black;
}
.searchtop{
        width:1200px;
        margin:0  auto;
}
.search{
        width:100%;
        height:100px;
        border-bottom:1px  solid  #e5e5e5;
}
.searchbox{
        top:  29px;
        position:  relative;
        width:  377px;
        height:  38px;
        margin:  0  auto;
        padding:  0  80px  0  111px;
        background:  url(/img/test.png)  no-repeat  0  0;
}
.searchbox  .logo{
        position:  absolute;
        left:  0px;
        top:  -13px;
        width:  109px;
        height:  32px;
}
.searchbox  .logo  a{
        display:  block;
        height:  100%;
        text-indent:  -9999px;
}
#search{
        position:  absolute;
        right:  24px;
        top:  -8px;
        width:  42px;
        height:  40px;
        background:  none;
        text-indent:  -9999px;
        border:  0px;
        cursor:  pointer;
}
.category{
        width:  1200px;
        margin:  10px  auto;  
        text-align:  center;
}


#mainMenu{
        list-style:  none;
        margin:  0;  padding:  0  0  25px  5px;
        margin-left:  32%;
        /*  border-bottom:  1px  solid  red;  */
    }
    #mainMenu  li{
        float:  left;
        margin:  0;  padding:  0  10px;
    }
    #mainMenu  a{
        display:  block;
        margin:  0;  padding:  5px  0  1px  0;    
        height:  16px;
    
        font-family:  Maplestory_OTF;  
        font-size:  17px;  color:  #000000;  
        text-decoration:none;  
    }
    @font-face  {
        font-family:  Maplestory_OTF;  
        src:    url("/img/Maplestory_OTF_Light.otf"),url("/img/Maplestory  Light.ttf"),url("/img/Maplestory_OTF_Bold.otf"),url("/img/Maplestory  Bold_0.ttf");
    }
    /*  #mainMenu  a:visited{  color:  #F43142;  }  */
    #mainMenu  a:hover{  color:  #F43142;  }
    /*  #mainMenu  a:active{  color:  #F43142;  }  */
    #mainMenu  a:hover,  #mainMenu  a:active{  border-bottom:  3px  solid  #F43142;  }

    .upload  {
        position:  relative;
        left:  0;
        top:  20px;
        width:  1200px;
        height:  auto;
        margin:0px  auto;
        font-family:  "Roboto",  sans-serif;
}
.proul{
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: auto;
        padding: 0px;
        background-color: #f7f7f7;
        border-top: 1px solid #e5e5e5;
}
.proul li{
        list-style: none;
        border-bottom: 1px solid #e5e5e5;
        padding: 20px 0;
        width:100%;
        letter-spacing: -1px;
}
.totallist{
        padding:10px 0;
}
.thumb{
        float:left;
        position: relative;
        margin-left: 40px;
}
.thumb a{
        display:block;
        position: relative;
}
.thumb  img{
        display: inline;
        width:160px;
        height:160px;
}
.proinfo{
        position: relative;
        float:left;
        width:  560px;
        height:  160px;
        padding:  5px  0  0  15px;
        border-right:1px  solid  #e5e5e5;
        border-left:  1px  solid  #e5e5e5;
}
.proinfo  .listbtm{
        margin-top: 100px;
}
strong{
        font-size: 20px;
}
.proprice{
        padding: 5px 0 0 15px;
        position: relative;
        float:left;
        width:  200px;
        height: 160px;
}
.proprice .delivery{
        margin-top: 100px;
        font-size:12px;
}
.procomp{
        width:  185px;
        height:160px;
        padding:  5px  0  0  20px;
        float:left;
        position: relative;
        border-left:  1px  solid  #e5e5e5;
        font-weight: bold;
}
.pagingdiv{
        margin: 0px auto;
        width: 1200px;
        position: relative;
}
.paging{
        height:61px;
}
.paging span{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
}
.paging ul {  
        list-style:none;  
        float:left;  
        display:inline;  
}  
.paging ul li {  
        float:left;  
}  
.paging ul li a {  
        float:left;  
        padding:4px;  
        margin-right:3px;  
        width:15px;  
        color:#000;  
        font:bold 12px tahoma;  
        border:1px solid #eee;  
        text-align:center;  
        text-decoration:none;  
}  
.paging ul li a:hover, .paging ul li a:focus {  
        color:#fff;  
        border:1px solid #f40;  
        background-color:#f40;  
}
.prct_simple{
        float:left;
        width:1100px;
}
.prct_imgbox{
        float:left;
        width:400px;
        position:relative;
        padding:50px;
        border:1px solid;
}
.prct_imgbox img{
        width:400px;
        height:400px;
}
.prct_wbox{
        width: 398px;
        height: 35px;
        padding-top: 15px;
        border:1px solid;
}
.prct_infobox{
        position: relative;
        float: left;
        width: 548px;
        background: white;
        padding: 20px;
}
.prct_defalut_info{
        position: relative;
        margin-bottom: 1px;
        padding-bottom: 30px;
        display: inline-block;
        width:100%;
}
.prct_defalut_area{
        background-color:#eee;
}
.prct_defalut_table{
        background-color:#eee;
        border-bottom: 1px solid;
        border-top: 1px solid;
}
.prct_infobox label{
        font-size: 0.87em;
        background-color: #38373c;
        color: #fff;
        padding: 3px 5px;
}
.prct_defalut_info tr{
        height: 30px;
}
.prct_defalut_info th{
        text-align: left;
        font-weight: normal;
        width: 200px;
        font-size: 12px;
}
.prct_defalut_info td{
        text-align: right;
        width: 380px;
}
.prct_defalut_info strong{
        color: #F43142;
        font-size: 1.4em;
}
#deli{
        padding-top: 10px;
        padding-left: 5px;
}
.prct_defalut_info span{
        display: inline;
}
.option{
        text-align:left !important;
}
.option a{
        font-size: 12px;
        font-family: Helvetica,Arial,sans-serif;
        background-color: white;
        border:1px solid #dadada;
        padding: 7px 0px 3px 10px;
        display: block;
        width: 370px;
        height: 23px;
}
.option span{

}
.option img{
        position: absolute;
        right: 12px;
        width: 16.5px;
}
.optiondiv{
        width: 382px;
        display:block;
        position: absolute;
        top: 167px;
}
.optiondivno{
        display:none;
}
.optiontop{
        background: #999999;
        height: 40px;
        border-bottom: 1px solid #555;
}
.optiontop span{
        line-height: 22px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        padding: 9px;
        margin:0px;
        display: inline-block;
}
.optiontop img{
        position: absolute;
        right: 15px;
        top: 13px;
}
.optionlist ul{
        padding: 0px;
        list-style: none;
        margin: 0px;
}
.optionlist a{
        border:1px solid #e5e5e5;
        border-top:none;
        padding: 8px 0px 0px 10px;
}
.optionlist strong{
        position: absolute; 
        right: 25px;
        color:black;
        font: bold 12px Tahoma,sans-serif;
}
.optionul{
        list-style: none;
        padding: 0px;
}
.optionul li{
        border-top:1px solid;
        border-bottom:1px solid;
        padding-bottom: 10px;
        margin-top:10px;
        background-color: #eee;
}
.optionul .min{
        width: 23px;
        height: 23px;
        border:1px solid #e5e5e5;
        overflow: hidden;
        padding:0;
        position: absolute;
}
.optionul .plus{
        width: 23px;
        height: 23px;
        border:1px solid #e5e5e5;
        overflow: hidden;
        padding:0;
        position: absolute;
        left: 55px;
}
.optionul .delete{
        width: 23px;
        height: 23px;
        border:1px solid #e5e5e5;
        overflow: hidden;
        padding:0;
        position: relative;
        float: right;
}
.delete{
        background: url('../img/deleteb.png') no-repeat;
        background-color: white;
        background-position: center;
        cursor: pointer;
}
.delete:hover{
        background: url('../img/deletew.png') no-repeat;
        background-color: #F43142;
        background-position: center;
}
.min{
        background: url('../img/minusb.png') no-repeat;
        background-color: white;
        background-position: center;
        cursor: pointer;
}
.min:hover{
        background: url('../img/minusw.png') no-repeat;
        background-color: #F43142;
        background-position: center;
}
.plus{
        background: url('../img/plusb.png') no-repeat;
        background-position: center;
        background-color: white;
        cursor: pointer;
}
.plus:hover{
        background: url('../img/plusw.png') no-repeat;
        background-color: #F43142;
        background-position: center;
}
.mp_wrap{
        padding: 1px 4px 1px;
        width: 22px;
        height: 19px;
        border-top:1px solid #e5e5e5;
        border-bottom:1px solid #e5e5e5;
        border-left:none !important;
        border-right:none !important;
        text-align: center;
        margin-bottom: -20px;
        margin-left: 24px;
}
.optionul span{
        position: relative;
        float: right;
        color: black;
        font: bold 12px Tahoma,sans-serif;
        margin-top: 3px;
        margin-right: 10px;
}
.buydiv {

}
.buydiv a{
        display: inline-block;
        background: transparent;
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
        letter-spacing: 0.3em;
        color: red;
        border-radius: 0;
        padding: 18px 85px 20px;
        transition: all 0.7s ease-out;
        background: linear-gradient(270deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.8), rgba(189, 21, 21, 0), rgba(255, 1, 1, 0));
        background-position: 1% 50%;
        background-size: 300% 300%;
        text-decoration: none;
        margin: 0.625rem;
        border: none;
        border: 1px solid red;
}
.buydiv a:hover{
        color: #fff;
        border: 1px solid red;
        color: white;
        background-position: 99% 50%;
}
.detailinfo  {
        display: flex;
        position:  relative;
        left:  0;
        top:  40px;
        width:  1200px;
        height:  auto;
        margin:0px  auto;
        font-family:  "Roboto",  sans-serif;
}

.procate{
        z-index: 10000;
        width:  1200px;
        height: 35px;
        padding:10px;
        text-align:  center;
        position: absolute;
        background:white;
}
.procateFixed {
        position: fixed;
        top: 0px;
}
.probuyFixed {
        position: fixed;
        top: 55px;
        left: 1273px;
}
@media (max-width:1280px){
        .probuyFixed{
                left: 953px;
        }
}

#cateMenu{
        list-style:  none;
        margin:  0;  
        padding:  0  0  25px  5px;
        /*  border-bottom:  1px  solid  red;  */
    }
    #cateMenu  li{
        float:  left;
        margin:  0;  
    }
    #cateMenu  a{
        display: block;
        margin: 0;
        padding: 5px 70px 17px 70px;
        height: 20px;
        font-size: 17px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
    }
    /*  #mainMenu  a:visited{  color:  #F43142;  }  */
    #cateMenu  a:hover{  color:  #F43142;  }
    /*  #mainMenu  a:active{  color:  #F43142;  }  */
    #cateMenu  a:hover,  #mainMenu  a:active{  border-bottom:  3px  solid  #F43142;  }
.proimgdiv{
        top: 50px;
        position: relative;
        display: flex;
        width: 1200px;
}
.proimg{
        margin-top:20px;
        margin-left: 20px;
        width: 900px;
        border-right: 1px solid;
}
.review{
        margin-top:20px;
        margin-left: 20px;
        width: 900px;
        border-right: 1px solid;
}
.revtable{
        margin-top: 20px;
        padding: 10px 0px 20px 10px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        width: 870px;
}
.revstar{
        display: inline-block;
}
.star1{
        background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -24px 0;
        background-size: auto 100%;
        width: 10px;
        height: 15px;
        float:left;
        text-indent: -9999px;
        cursor: pointer;
    }
    .star2{
        background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -33px;
        background-size: auto 100%;
        width: 10px;
        height: 15px;
        float:left;
        text-indent: -9999px;
        cursor: pointer;
    }
    .star1.on{background-position:2px 0;}
    .star2.on{background-position:-7px 0;}
.revuser{
        display: inline-block;
}
.revuser .name{
        margin-left: 670px;
        font-size:12px;
}
.revuser .date{
        margin-left: 10px;
        font-size:12px;
}
.revopt{
        font-size:12px;
}
.revtext{
        font-size: 14px;
}
.probuy{
        margin-top:20px;
        margin-left: 20px;
}

.sideoption{
        text-align:left !important;
}
.sideoption a{
        font-size: 12px;
        font-family: Helvetica,Arial,sans-serif;
        background-color: white;
        border:1px solid #dadada;
        padding: 7px 0px 3px 10px;
        display: block;
        width: 245px;
        height: 23px;
}
.sideoption span{

}
.sideoption img{
        position: absolute;
        right: 12px;
        width: 16.5px;
}

.sideoptiondiv{
        width: 257px;
        display:block;
        position: absolute;
        top: 20px;
        z-index: 1000;
}
.probuy probuyFixed .sideoptiondiv{
        top:0px;
}
.sideoptiondivno{
        display:none;
}
.sideoptiontop{
        background: #999999;
        height: 40px;
        border-bottom: 1px solid #555;
}
.sideoptiontop span{
        line-height: 22px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        padding: 9px;
        margin:0px;
        display: inline-block;
}
.sideoptiontop img{
        position: absolute;
        right: 15px;
        top: 13px;
}
.sideoptionlist ul{
        padding: 0px;
        list-style: none;
        margin: 0px;
}
.sideoptionlist a{
        border:1px solid #e5e5e5;
        border-top:none;
        padding: 8px 0px 0px 10px;
}
.sideoptionlist strong{
        position: absolute; 
        right: 25px;
        color:black;
        font: bold 12px Tahoma,sans-serif;
}
.sideoptionul{
        list-style: none;
        padding: 0px;
}
.sideoptionul li{
        border-top:1px solid;
        border-bottom:1px solid;
        padding-bottom: 10px;
        margin-top:10px;
        background-color: #eee;
}
.sideoptionul .min{
        width: 23px;
        height: 23px;
        border:1px solid #e5e5e5;
        overflow: hidden;
        padding:0;
        position: absolute;
        margin-top: 1px;
}
.sideoptionul .plus{
        width: 23px;
        height: 23px;
        border:1px solid #e5e5e5;
        overflow: hidden;
        padding:0;
        position: absolute;
        margin-top: 1px;
}
.sideoptionul .delete{
        width: 23px;
        height: 23px;
        border:1px solid #e5e5e5;
        overflow: hidden;
        padding:0;
        position: relative;
        float: right;
}
.sidedelete{
        background: url('../img/deleteb.png') no-repeat;
        background-color: white;
        background-position: center;
        cursor: pointer;
}
.sidedelete:hover{
        background: url('../img/deletew.png') no-repeat;
        background-color: #F43142;
        background-position: center;
}
.sidemin{
        background: url('../img/minusb.png') no-repeat;
        background-color: white;
        background-position: center;
        cursor: pointer;
}
.sidemin:hover{
        background: url('../img/minusw.png') no-repeat;
        background-color: #F43142;
        background-position: center;
}
.sideplus{
        background: url('../img/plusb.png') no-repeat;
        background-position: center;
        background-color: white;
        cursor: pointer;
}
.sideplus:hover{
        background: url('../img/plusw.png') no-repeat;
        background-color: #F43142;
        background-position: center;
}
.sidemp_wrap{
        padding: 1px 4px 1px;
        width: 22px;
        height: 19px;
        border-top:1px solid #e5e5e5;
        border-bottom:1px solid #e5e5e5;
        border-left:none !important;
        border-right:none !important;
        text-align: center;
        margin-bottom: -20px;
        margin-left: 24px;
}
.sideoptionul span{
        position: relative;
        float: right;
        color: black;
        font: bold 12px Tahoma,sans-serif;
        margin-top: 3px;
        margin-right: 10px;
}
.sideoptiontotal strong{
        color: #F43142;
        font-size: 1.4em;
}
.sideoptiontotal th{
        text-align: left;
        font-weight: normal;
        font-size: 12px;
}
.sideoptiontotal td{
        text-align: right;
        width: 180px;
}

.sidebuy a{
        display: inline-block;
        background: transparent;
        text-transform: uppercase;
        font-weight: bold;
        font-style: normal;
        font-size: 13px;
        letter-spacing: 0.3em;
        color: red;
        border-radius: 0;
        padding: 18px 19px 20px;
        transition: all 0.7s ease-out;
        background: linear-gradient(270deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.8), rgba(189, 21, 21, 0), rgba(255, 1, 1, 0));
        background-position: 1% 50%;
        background-size: 300% 300%;
        text-decoration: none;
        margin: 0.625rem;
        border: none;
        border: 1px solid red;
}
.sidebuy a:hover{
        color: #fff;
        border: 1px solid red;
        color: white;
        background-position: 99% 50%;
}