.upload {
        position: relative;
        left: 0;
        top: 20px;
        width: 1200px;
        height: auto;
        margin:0px auto;
        font-family: "Roboto", sans-serif;
        border:1px solid;
}
.manage{
        width: auto;
        margin: 0px auto 10px 0px; 
        text-align: center;
        height: 42px;
        background: #F43142;
    }
#manageMenu{
        list-style: none;
        margin: 0; padding: 0 0 25px 5px;
        margin-left: 32%;
}
#manageMenu li{
        float: left;
        margin: 0; padding: 0 10px;
}
#manageMenu a{
        display: block;
        margin: 0; padding: 5px 0 1px 0;  
        height: 32px;
        font-family: Maplestory_OTF; 
        font-size: 30px; color: brown; 
        text-decoration:none; 
        cursor: pointer;
}
#manageMenu a:hover, #manageMenu a:active{ border-bottom: 5px solid white;color: white; }

.usermg{
        display: block;
        width: 1120px;
        border: 1px solid;
        margin: 10px 40px;
        height: 700px;
}
.container-table100{
        display: block;
        width: 1120px;
        border: 1px solid;
        margin: 10px 40px;
        /* height: 700px; */
}
.ordermg{
        display: block;
        width: 1120px;
        border: 1px solid;
        margin: 10px 40px;
        height: 700px;
}
.faqmg{
        display: block;
        width: 1120px;
        border: 1px solid;
        margin: 10px 40px;
        height: 700px;
}
a {
        text-decoration:none;
        color:black;
}
.rainbtn {
        width:100px;
        height:30px;
        background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        border-radius:5px;
        display:flex;
        align-items:center;
        justify-content:center;
        text-transform:uppercase;
        font-size:14px;
        font-weight:bold;
}
.rainbtn:after {
        content:attr(alt);
        width:95px;
        height:25px;
        background-color:white;
        display:flex;
        align-items:center;
        justify-content:center;
}
.rainbtn:hover,.rainbtnlist:hover {
        animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
        to {
                background-position:20vw;
        }
}

.table{
        display: block;
        width: 1120px;
}
.table tr{
        display: table;
        width:1120px;
        border-top:#777 1px solid;
}
.table th{
        text-align: left;
        width: 20%;
        font-size:12px;
}
.table td{
        text-align: left;
        font-size:12px;
}
.table tr:nth-child(1){
        border-top: 2px rgb(97, 96, 96) solid;
}
.table tr:nth-child(9){
        border-bottom: 2px rgb(97, 96, 96) solid;
        margin-bottom: 20px;
}
input,textarea{
        width:100%;
        border:2px solid #aaa;
        border-radius:4px;
        margin:8px 0;
        outline:none;
        padding:8px;
        box-sizing:border-box;
        transition:.3s;
}
      
input:focus,textarea:focus{
        border-color:#ff747d;
        box-shadow:0 0 8px 0 #ff747d;
}
textarea{
        resize: none;
        max-height: 500px;
}
.uploadbtn{
        width: auto;
        margin-left:460px;
}


.container-table100 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
      }
      
      .wrap-table100 {
        width: 1170px;
      }
      
      .container-table100 table {
        border-spacing: 1;
        border-collapse: collapse;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;
      }
      .container-table100 table * {
        position: relative;
      }
      .container-table100 table td, .container-table100 table th {
        padding-left: 8px;
        
      }
      .container-table100 table thead tr {
        height: 60px;
        background: #f43142;
      }
      .container-table100 table tbody tr {
        height: 50px;
      }
      .container-table100 table tbody tr:last-child {
        border: 0;
      }
      .container-table100 table td, table th {
        text-align: center;
      }
      .container-table100 table td.l, .container-table100 table th.l {
        text-align: right;
      }
      .container-table100 table td.c, .container-table100 table th.c {
        text-align: center;
      }
      .container-table100 table td.r, .container-table100 table th.r {
        text-align: center;
      }
      
      
      .table100-head th{
        font-family: OpenSans-Regular;
        font-size: 15px;
        color: #fff;
        line-height: 1.2;
        font-weight: bold;
        text-align: center;
      }
      
      .container-table100 tbody tr:nth-child(even) {
        background-color: #f5f5f5;
      }
      
      .container-table100 tbody tr {
        font-family: OpenSans-Regular;
        font-size: 15px;
        color: #808080;
        line-height: 1.2;
        font-weight: unset;
      }
      
      .container-table100 tbody tr:hover {
        color: #555555;
        background-color: #f5f5f5;
        cursor: pointer;
      }
      
      .column1 {
        width: 57px;
      }
      
      .column2 {
        width: 50px;
      }
      
      .column3 {
        width: 245px;
      }
      
      .column4 {
        width: 70px;
        text-align: center;
      }
      
      .column5 {
        width: 70px;
        text-align: center;
      }
      
      .column6 {
        width: 21px;
        text-align: center;
      }
      .column7 {
        width: 50px;
        text-align: center;
      }
      .column8 {
        width: 50px;
        text-align: center;
      }
      .column9 {
        width: 50px;
        text-align: center;
      }

.rainbtnlist {
        left: 10px;
        width:50px;
        height:30px;
        background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        border-radius:5px;
        display:flex;
        align-items:center;
        justify-content:center;
        text-transform:uppercase;
        font-size:14px;
        font-weight:bold;
}
.rainbtnlist:after {
        content:attr(alt);
        width:45px;
        height:25px;
        background-color:white;
        display:flex;
        align-items:center;
        justify-content:center;
}

.pagingdiv{
        margin: 0px auto;
        width: 1200px;
        position: relative;
}
.paging{
        height:61px;
}
.paging span{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
}
.paging ul {  
        list-style:none;  
        float:left;  
        display:inline;  
}  
.paging ul li {  
        float:left;  
}  
.paging ul li a {  
        float:left;  
        padding:4px;  
        margin-right:3px;  
        width:15px;  
        color:#000;  
        font:bold 12px tahoma;  
        border:1px solid #eee;  
        text-align:center;  
        text-decoration:none;  
}  
.paging ul li a:hover, ul li a:focus {  
        color:#fff;  
        border:1px solid #f40;  
        background-color:#f40;  
}
