include ../user/top.jade 
                link(rel='stylesheet',href='./css/management.css')
                .upload
                        nav.manage
                                ul#manageMenu
                                        li: a#user(href="/management") 회원관리
                                        li: a#prod(href="/product") 상품관리
                                        li: a#order(href="/order") 주문관리
                                        li: a#faq(href="/faq") FAQ관리
                        .usermg
                                p 회원관리
        script.
                $("#user").css("border-bottom","5px solid white");
                $("#user").css("color","white");
