include ../user/top.jade 
                link(rel='stylesheet',href='./css/management.css')
                link(rel='stylesheet', href='./css/selectbox.min.css')
                script(type='text/javascript', src='./js/selectbox.min.js')
                script(type='text/javascript', src='./js/autosize.js')
                script(type='text/javascript', src='./js/ckeditor/ckeditor.js')
                .upload
                        nav.manage
                                ul#manageMenu
                                        li: a#user(href="/management") 회원관리
                                        li: a#prod(href="/product") 상품관리
                                        li: a#order(href="/order") 주문관리
                                        li: a#faq(href="/faq") FAQ관리
                        .prodmg(style="border:0px;margin-left:30px;margin-bottom: 50px;")
                                h2 상품등록
                                form#sfrm(method="post" enctype="multipart/form-data" )
                                        .table
                                                table
                                                        tbody
                                                                tr
                                                                        th 썸네일
                                                                        td
                                                                                img#thumb(src="./img/thumbnail.png" style="border:1px solid;width:144px;height:144px")
                                                                                input#simg(type='file' name="simg" accept=".jpg,.jpeg,.png,.gif,.bmp")
                                                                input(name="no" style="display:none;")
                                form#frm(action="/productupload" method="post")
                                        .table
                                                table
                                                        tbody
                                                                tr(style="border-top: 1px rgb(97, 96, 96) solid;")
                                                                        th 상품분류
                                                                        td 
                                                                                select#color.justselect(name='kind')
                                                                                        option(value='키보드') 키보드
                                                                                        option(value='마우스') 마우스
                                                                                        option(value='헤드셋') 헤드셋
                                                                                        option(value='의자') 게이밍의자
                                                                                        option(value='패드') 패드
                                                                                        option(value='PC악세사리') PC악세사리
                                                                tr
                                                                        th 상품코드
                                                                        td: input(type='text' style="width: 250px;" name="num")
                                                                tr
                                                                        th 상품명
                                                                        td: input(type='text' style="width: 250px;" name="name")
                                                                tr
                                                                        th 제조사
                                                                        td: input(type='text' style="width: 250px;" name="comp")
                                                                tr
                                                                        th 판매수량
                                                                        td: input(type='number' min=0 style="width: 100px;" value="0" name="count")
                                                                tr
                                                                        th 가격
                                                                        td
                                                                                input(type='text' style="width: 100px;" value="0" name="price") 
                                                                                p(style="display: inline;") 원
                                                                tr
                                                                        th 상품설명
                                                                        td: textarea#explan(name="text" )
                                                                        input(name="no" style="display:none;")
                                .uploadbtn
                                        a.rainbtn#upload(alt="등록" style="margin: 10px 0px;")
                                        a.rainbtn(href="/product" alt="취소" style="margin-left: 110px;margin-top: -40px;")
        script.
                $.ajax({
                        url:"/getnum",
                        type:"post",
                        success: function(result){
                                var no=result.num;
                                $("#sfrm")[0][0].value=no;
                        }
                })
                $("#prod").css("border-bottom","5px solid white");
                $("#prod").css("color","white");
                $("#upload").click(function(){
                        $("#frm").submit();
                })
                $("#simg").on("change",function(){
                        var form=$('#sfrm')[0];
                        var data = new FormData(form);
                        console.log(data);
                        $.ajax({
                                url:"/simgdb",
                                type:"post",
                                processData: false,
                                contentType: false,
                                data:data,
                                success: function(result){
                                        if(!result){
                                                alert("사진 업로드가 실패했습니다.");
                                        }else{
                                                console.log(result.src);
                                                $("#thumb").attr('src','./dbimg/'+result.src);
                                        }
                                }
                        })
                })
                CKEDITOR.replace( 'explan',{
                        extraPlugins: 'autogrow',
                        filebrowserUploadUrl: '/bimgdb',
                });
